<div class="container w-50 mt-5">
  <form class="needs-validation" novalidate>
    <div class="mb-3">
      <input type="email" class="form-control" id="email" name="email" placeholder="email" [(ngModel)]="email" required>
    </div>
    <div class="mb-3">
      <input [(ngModel)]='senha' type="password" class="form-control" name="senha"  id="senha" placeholder="senha" required>
    </div>
    <div class="mb-3 text-center">
      <button type="button" (click)="salvar()" class="btn btn-primary">Submit</button>
    </div>
  </form>
  </div>
