<!-- <label [ngClass]="{'checked':abrirMenu}">
  <div class="menu-hamb" >
  <span class="hamburguer" (click)="abrirMenu = !abrirMenu" ></span>
  </div>
  </label>
  <ul class="ul-mbl">
  <li><a href='#'>Home</a></li>
  <li><a href='#'>About</a></li>
  <li><a href='#'>Work</a></li>
  </ul>
  <app-exercicio2></app-exercicio2>
  <app-exercicio3></app-exercicio3>
  <app-exercicio4></app-exercicio4>
  <app-exercicio5></app-exercicio5>-->
  <app-exercicio6>
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui perspiciatis impedit debitis nam neque sapiente sequi consequuntur quas mollitia provident quam quo cum, laboriosam nihil aspernatur animi totam corrupti ut!
  </p>
  </app-exercicio6>
