<div class="container w-50 mt-4 m-auto">
    <form (ngSubmit)="cadastrar()" [formGroup]="cadastroForm" #cadForm='ngForm'>
        <div class="form-floating mb-3">
            <input type="text"  name="usuario" class="form-control"  [ngClass]="{'is-invalid':cadastroForm.get('nome_usuario')?.errors && cadForm.submitted}" formControlName="nome_usuario" id="usuario" placeholder="Usuario">
            <label for="usuario">Nome usuário</label>
            <div *ngIf="" class="text-danger">
                <p *ngIf="!loginFormModel.usuario.length">Usuário não pode ser vazio</p>
            </div>
        </div>
        <div class="form-floating  mb-3">
            <input type="password" class="form-control" name="confimarSenha"  [ngClass]="{'is-invalid':cadastroForm.get('confirmacao_senha')?.errors && cadForm.submitted && cadForm.submitted}" formControlName="confirmacao_senha" id="confimarSenha"  placeholder="Senha">
            <label for="confimarSenha">Senha</label>
        </div>
        <div class="form-floating  mb-3">
            <input type="password" class="form-control" name="senha" [ngClass]="{'is-invalid':cadastroForm.get('senha')?.errors && cadForm.submitted}" formControlName="senha" id="senha"  placeholder="Senha">
            <label for="senha">Confirmar Senha</label>
            <div *ngIf="cadastroForm.get('nome_usuario')?.errors && cadForm.submitted" class="text-danger">
                <p *ngIf="!loginFormModel.senha.length" class="mb-0">senha não pode ser vazia</p>
                <p *ngIf="loginFormModel.senha.length" class="mb-0" >{{ mensagem }}</p>
                <p class="mb-0" *ngIf="!numero">1 número</p>
                <p class="mb-0" *ngIf="!maiuscula">1 letra maiúscula</p>
                <p class="mb-0" *ngIf="!minuscula">1 letra minúscula</p>
                <p class="mb-0" *ngIf="!especial">1 caractere especial</p>
                <p class="mb-0" *ngIf="loginFormModel.senha.length<8">8 caracteres</p>
            </div>
        </div>
        <div class="form-floating  mb-3 text-center">
            <button type="submit" class="btn btn-success" [disabled]="!cadastroForm.valid" >Cadastrar</button>
        </div>
    </form>
</div>
