services:
#  backend:
#    image: semana5:latest
#    restart: always
#    ports:
#      - 8080:8080
#    environment:
#      - POSTGRES_DB=example
#    expose:
#      - 8080
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345
    expose:
      - 5432
    ports:
      - "5432:5432"