<div class="container w-50 mt-3">
  <div class="form-floating mb-3">
    <input type="text" name="nomeUsuario" [(ngModel)]="nome" class="form-control" id="nomeUsuario" placeholder="name@example.com">
    <label for="nomeUsuario">Nome do usuário</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="cpf" [(ngModel)]="cpf" class="form-control" id="cpf" placeholder="Password">
    <label for="cpf">CPF</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" [(ngModel)]="diaAniversario" name="diaAniversario" class="form-control" id="diaAniversario" placeholder="Dia do aniversário" min="0" max="31">
    <label for="diaAniversario">Dia do aniversário</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" name="senha" [(ngModel)]="senha" class="form-control" id="senha" placeholder="Senha" >
    <label for="senha">Senha</label>
  </div>
  <div class="mb-3 text-center">
    <button class="btn btn-primary" (click)="cadastrar()" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cadastrar</button>
  </div>

  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastro Realizado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="limpar()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Nome: {{ nome }}</p>
        <p>CPF: {{ cpf }}</p>
        <p>Dia do aniversário: {{ diaAniversario }}</p>
        <p>Senha: {{ senha}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="limpar()" data-bs-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>


</div>
